@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollBarCloudTags::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


.scrollBarCloudTags {
  scrollbar-width: none;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maskedImage{
  mask-image: linear-gradient(
    black 70%,
    transparent
  );
  filter: saturate(1.4);
}
.cardShadow{
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.containerScroll::-webkit-scrollbar {
  width: 3px;
}

.containerScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px; }

  .containerScroll::-webkit-scrollbar-track {
    background: transparent;
  }


  .shadowProduct{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }

  .shadowItem{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.shadowButton {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.outerShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.innerShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Scrollbar para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Ancho fijo de la scrollbar */
  height: 2px; /* Altura para scroll horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #545CA4; /* Azul elegante */
  border-radius: 4px; /* Bordes redondeados */
  border: 2px solid transparent; /* Espacio entre el track y el thumb */
  background-clip: padding-box; /* Evitar que el borde opaque el color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3e468c; /* Azul más oscuro al pasar el mouse */
}

::-webkit-scrollbar-thumb:active {
  background-color: #2d346f; /* Azul más profundo cuando está activo */
}

::-webkit-scrollbar-track {
  background-color: #eaeaf5; /* Fondo claro de la pista */
  border-radius: 4px;
}

/* Eliminar las flechas predeterminadas de Chrome */
::-webkit-scrollbar-button {
  display: none;
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin; /* Scrollbar delgada */
  scrollbar-color: #545CA4 #eaeaf5; /* Color del scrollbar y la pista */
}
