@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollBarCloudTags::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.scrollBarCloudTags {
  scrollbar-width: none;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas que deseas mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
